<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Console - UltraPanel</title>
    <link rel="stylesheet" href="../styles.css">
    <style>
        /* From https://stackoverflow.com/a/57335917 */
        #container {
            width: 98vw;
            height: 98vh;
            display: grid;
            grid-template-areas: "sidebar main";
            grid-template-columns: 200px 1fr;
        }
        #sidebar {
            grid-area: sidebar;
            height: 98vh;
            background-color: #161616;
            padding: 20px;
            box-sizing: border-box;
        }
        #display {
            grid-area: main;
            height: 98vh;
            max-height: 98vh;
            overflow-y: auto;
            background: none;
            display: flex;
            flex-direction: column;
        }
        #console {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            background-color: #1b1b1b;
            padding: 32px;
            min-height: 0;
        }
        #server-name {
            font-size: 18px;
            font-weight: 600;
            text-overflow: ellipsis;
        }
        #server-ip {
            color: grey;
            text-overflow: ellipsis;
            font-size: 15px;
        }
        #console-block {
            width: 100%;
            flex: 1 1 auto;
            resize: none;
            min-height: 0;
            background-color: #1b1b1b;
            border: none;
            color: white;
            box-sizing: border-box;
            margin-bottom: 8px;
        }
        #console-hint {
            color: grey;
            font-style: italic;
            padding-top: 10px;
        }
        #console-command {
            width: 100%;
            background-color: #1b1b1b;/*#121212;*/
            color: white;
            font-size: 20px;
            box-sizing: border-box;
            border: none;
        }
        #navigation-back {
            background-color: #242424;
            color: white;
            border: none;
            border-radius: 8px;
            width: 100%;
            height: 32px;
            margin-bottom: 10px;
            cursor: pointer;
        }
        #navigation-back:hover {
            background-color: #282828;
        }
        #server-status-main {
            background-color: #242424;
            color: white;
            border: none;
            border-radius: 8px;
            width: 100%;
            height: 32px;
            margin-top: 5px;
            margin-bottom: 5px;
            cursor: pointer;
        }
        #server-status-main[status="start"] {
            background-color: #00210a;
        }
        #server-status-main[status="stop"] {
            background-color: #210000;
        }
        #server-status-restart {
            background-color: #454000;
            color: white;
            border: none;
            border-radius: 8px;
            width: 100%;
            height: 32px;
            margin-top: 5px;
            margin-bottom: 5px;
            cursor: pointer;
        }
        .sidebar-button {
            background-color: #242424;
            color: white;
            border: none;
            border-radius: 8px;
            width: 100%;
            height: 32px;
            margin-top: 5px;
            margin-bottom: 5px;
            cursor: pointer;
        }
        .sidebar-button.active {
            background-color: #1a2129c5;
        }
        input:focus, textarea:focus {
            outline: none;
        }
    </style>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div id="container">
        <div id="sidebar">
            <button id="navigation-back"><- Back</button>
            <div id="server-name"></div>
            <div id="server-ip">127.0.0.1:25565</div>
            <button id="server-status-main" status="start">Start</button>
            <button id="server-status-restart">Restart</button>
            <hr>
        </div>
        <div id="display">
            <div id="console">
                <textarea id="console-block" readonly></textarea>
                <input type="text" id="console-command" placeholder="Enter a command..."></input>
                <div id="console-hint">Only showing the last 100 entries.</div>
            </div>
        </div>
    </div>
    
</body>
<script>
    const socket = io();
    const maxLogCount = 100;
    const server = <%- JSON.stringify(server) %>;
    const logs = <%- JSON.stringify(logs) %>;
    console.log(server);
    document.getElementById("console-block").textContent = logs.split("\n").slice(-100).join("\n");
    document.getElementById("server-name").textContent = server.name;
    const console_logbox = document.getElementById("console-block");
    console_logbox.scrollTop = console_logbox.scrollHeight;
    const console_command = document.getElementById("console-command");
    const navigation_back = document.getElementById("navigation-back");
    const server_status_button = document.getElementById("server-status-main");
    const server_restart_button = document.getElementById("server-status-restart");
    socket.emit("subscribeLogs", server.id);

    console_command.addEventListener("keydown", (e) => {
        if (e.key == "Enter") {
            const cmd = console_command.value.trim();
            if (!cmd) return;
            socket.emit("execCommand", {containerId: server.id, command: cmd});
            console_command.value = "";
        }
    });
    var lines = [];
    socket.on("logs", (data) => {
        lines = lines.concat(data.split("\n"));
        if (lines.length > 100) lines.slice(-maxLogCount);
        console_logbox.value = lines.join("\n");
        console_logbox.scrollTop = console_logbox.scrollHeight;
    })
    socket.on("commandResult", (result) => {
        lines = lines.concat(result.split("\n"));
        if (lines.length > maxLogCount) lines.slice(-maxLogCount);
        console_logbox.value = lines.join("\n");
        console_logbox.scrollTop = console_logbox.scrollHeight;
    });
    socket.on("containerStatus", (data) => {
        // TODO: implement so only one person (auth?) or the valid people can get this because this occurs for every server
        console.log("Event FIRED");
        console.log(data);
        if (data.id == server.id) {
            console.log(`ALERT: DATA CHANGE: ${data.action}`);
            if (data.action == "stop" || data.action == "die") {
                setActionStatus("start");
                println("[UPD] > Server stopped, halted, or terminated");
            } else if (data.action == "start") {
                setActionStatus("stop");
                lines.length = 0; // resets array
                console_logbox.value = "";
                println("[UPD] > Server started");
                socket.emit("subscribeLogs", server.id);
            }
        }
    });

    function println(line) {
        lines.push(line);
        if (lines.length > maxLogCount) lines.slice(-maxLogCount);
        console_logbox.value = lines.join("\n");
        console_logbox.scrollTop = console_logbox.scrollHeight;
    }

    function setActionStatus(status = "start") {
        if (status == "start") {
            server_status_button.textContent = "Start";
        } else if (status == "stop") {
            server_status_button.textContent = "Stop";
        } else {
            return;
        }
        server_status_button.setAttribute("status", status);
    };

    function getActionStatus() {
        return server_status_button.getAttribute("status") || "unknown";
    };

    function correspondAction(status = "start") {
        if (status == "start") {
            updateStatus("start", server.id); // needs security measure
        } else if (status == "stop") {
            updateStatus("stop", server.id); // needs security measure
        } else if (status == "restart") {
            updateStatus("restart", server.id); // needs security measure else {
        } else {
            return;
        }
    }

    /* From https://github.com/Interlabs-Official/ClassroomPlus/blob/main/settings/script.js */
    function createAndAssignId(elementType, id) {
        const element = document.createElement(elementType || "div");
        element.setAttribute("id", id || "unknown-id");
        return element;
    };

    function createAndAssignClass(elementType, className) {
        const element = document.createElement(elementType || "div");
        element.classList.add(className || "unknown-class");
        return element;
    };

    function generateButton(name = "Untitled", buttonId = "untitled", callback) {
        const button = createAndAssignId("button", "sidebar-" + buttonId);
        button.classList.add("sidebar-button");
        button.textContent = name;
        document.getElementById("sidebar").appendChild(button);
        if (callback) callback(button);
        return button;
    }

    generateButton("Dashboard", "dashboard");
    generateButton("Console", "console", (button) => {
        button.classList.toggle("active");
    });
    generateButton("Files", "files");
    generateButton("Startup", "startup");
    generateButton("Settings", "settings");

    function getServerStatus(id = server.id) {
        return fetch("/api/server-status/" + id, {
            method: "GET",
            headers: {
                "Content-Type": "application/json"
            }
        })
        .then(response => response.json())
        //.then(data => {
        //    return data;
        //});
    };
    navigation_back.addEventListener("click", () => {
        window.location.href = "/";
    });
    server_restart_button.addEventListener("click", () => {
        updateStatus("restart", server.id); // needs security measure
    })
    document.addEventListener("DOMContentLoaded", () => {
        getServerStatus().then(data => {
            if (data.isRunning) {
                setActionStatus("stop");
            } else {
                setActionStatus("start");
            }
        });
    });
    function updateStatus(statusType, serverId) {
        fetch("/api/send-signal", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({command: statusType, serverId: serverId}),
        })
        .then(response => {
            console.log("Response received");
            //if (response.ok) {
            //    renderServerList();
            //}
        })
        .then(data => console.log(data));
    };
</script>
</html>