<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servers - UltraPanel</title>
    <style>
        @font-face {
            font-family: "Golos Text";
            src: url("/GolosText/GolosText-VariableFont_wght.ttf");
        }
        * {
            font-family: "Golos Text";
        }
        body {
            background-color: #121212;
            color: white;
        }
        .server-list-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #242424;
            padding: 18px;
            cursor: pointer;
        }
        .server-list-item:hover {
            background-color: #282828;
        }
        .button-group {
            display: flex;
            gap: 10px;
        }
        .server-list-item[server-status="running"] {
            background-color: #242824;
        }
        .server-status-display {
            color: grey;
            font-style: italic;
        }
        #create-server {
            padding: 8px 12px;
            background-color: #202020;
            color: #ffffff;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
            margin-bottom: 12px;
        }
    </style>
</head>
<body>
    <h1>Active Server IDs</h1>
    <!--<p><b>NOTE:</b> You are using the demo mode through a Cloudflare Tunnel. As such, you will not be able to join servers.</p>-->
    <button id="create-server">+ Create Server</button>
    <div id="server-list">

    </div>
    <script>
        /* From https://github.com/Interlabs-Official/ClassroomPlus/blob/main/settings/script.js */
        function createAndAssignId(elementType, id) {
            const element = document.createElement(elementType || "div");
            element.setAttribute("id", id || "unknown-id");
            return element;
        };

        function createAndAssignClass(elementType, className) {
            const element = document.createElement(elementType || "div");
            element.classList.add(className || "unknown-class");
            return element;
        };

        function updateStatus(statusType, serverId) {
            fetch("/api/send-signal", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({command: statusType, serverId: serverId}),
            })
            .then(response => {
                console.log("Response received");
                if (response.ok) {
                    renderServerList();
                }
            })
            .then(data => console.log(data));
        };

        document.getElementById("create-server").addEventListener("click", () => {
            window.location.href = "/admin/create-server";
        })

        function renderServerList() {
            fetch("/api/servers", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log(`Server list stuff: ${data}`);
                document.getElementById("server-list").innerHTML = "";
                for (var i = 0; i < data.length; i++) {
                    const listItem = createAndAssignClass("div", "server-list-item");
                    const serverName = createAndAssignClass("div", "server-name");
                    //const serverStatus = createAndAssignClass("div", "server-status");
                    const signalStatus = createAndAssignClass("button", "signal-status");
                    listItem.setAttribute("server-id", data[i].shortId);
                    listItem.setAttribute("server-status", data[i].state);
                    serverName.textContent = data[i].name || "Untitled server";
                    const restartBtn = createAndAssignClass("button", "restart-status");
                    restartBtn.textContent = "Restart";
                    const state = data[i].state == "exited" ? "Start" : "Stop";
                    signalStatus.textContent = state;
                    const serverStatusDisplay = createAndAssignClass("span", "server-status-display");
                    serverStatusDisplay.textContent = data[i].status;
                    const fullId = data[i].id;
                    const shortId = data[i].shortId;
                    signalStatus.addEventListener("click", (e) => {
                        e.stopPropagation();
                        signalStatus.textContent = "...";
                        updateStatus(state, fullId);
                    });
                    restartBtn.addEventListener("click", (e) => {
                        e.stopPropagation();
                        restartBtn.textContent = "...";
                        updateStatus("restart", fullId);
                    });
                    listItem.addEventListener("click", (e) => {
                        // TODO: make it so that it doesn't activate buttons when clicking on the main thing
                        //e.preventDefault();
                        if (e.target != listItem) return;
                        window.location.href = "/server/" + fullId;
                    })
                    listItem.appendChild(serverName);
                    listItem.appendChild(serverStatusDisplay);
                    const buttonGroup = createAndAssignClass("div", "button-group");
                    buttonGroup.appendChild(signalStatus);
                    buttonGroup.appendChild(restartBtn);
                    listItem.appendChild(buttonGroup);
                    document.getElementById("server-list").appendChild(listItem);
                }
            })
        };
        renderServerList();
    </script>
</body>
</html>